.Grid__Column {
  flex   : 1;
  margin : 5px;

  &--text-center {
    text-align : center;
  }

  &--text-right {
    text-align : right;
  }
  &--text-right-padding {
    text-align : right;
    padding-right :  20px;
  }
}
